# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Flask instance folder
instance/
.webassets-cache

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# pip
pip-log.txt
pip-delete-this-directory.txt

# macOS specific
.AppleDouble
.LSOverride

temp_audio.wav